<div class="home">
  <div class="search-cta">
    <div class="header">
      <h1>In need of extra cash?</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tempora libero repellendus, repudiandae iusto
        unde minima possimus repellat reprehenderit ea omnis mollitia vel! Perspiciatis, fugit maxime? Ullam quod
        praesentium reprehenderit?</p>
      <a href="/search" class="bttn">Search Gigs</a>
    </div>
    <div class="image">
      <img src="https://ucarecdn.com/8b31a1bb-ddb7-4a91-93fb-90a129f46e21/designdeskdisplayeyewear313690.jpg" alt="">
    </div>
  </div>

  <div class="post-cta">
    <div class="blur"></div>
    <div class="text center">
      <h1>Find the right people for your gig.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eius explicabo eum unde praesentium dolorum illum
        accusamus ut totam, doloribus quod necessitatibus accusantium id odit molestiae cupiditate voluptatem mollitia
        optio?</p>
      <a class="bttn" href="/post">Post Gig</a>
    </div>
  </div>

  <div class="row volunteer-cta">
    <div class="col-lg-6">
      <img src="https://ucarecdn.com/52db1517-cdcc-40fc-bd56-8e5727e30c5c/annaearlVHSDqIKcrKIunsplash1.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h1>Help your Comunnity.</h1>
      <p>It's time we start helping our communities to make it better and safer. Discover new ways you can give back in
        your area, and to learn about all the different causes you can support.</p>
      <a class="bttn" href="/volunteer">Volunteer</a>
    </div>
  </div>
</div>