<div class="volunteer">
    <div class="content">
        <h1>We can all make a differnece.</h1>

        <div class="input">
            <input type="text" class="volunteer-location-input" placeholder="Enter a city or zipcode." />
            <button class="volunteer-search-bttn">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>

<div class="volunteer-response"></div>

<!-- Optional JS -->
<script src="/js/volunteer.js"></script>