@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 87px;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* navigation */
.navbar {
  font-size: 16px;
  padding: 20px 10%;
  background-color: #f8f8f8;
}

.navbar-brand {
  font-size: 25px;
}

/* footer */
footer {
  /* background-color: #f8f8f8; */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h1 {
  font-size: 18px;
  padding: 40px 0;
  font-weight: lighter;
}

/* class to vertically and horizontally center divs */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* class to add anchor a button like style */
.bttn {
  font-size: 18px;
  color: #fff;
  background-color: #28a745;
  padding: 12px 30px;
  max-width: 180px;
  text-align: center;
  border: 1px solid #28a745;
  /* border-radius: 50px; */
}

.bttn:hover {
  text-decoration: none;
  color: #28a745;
  background-color: #fff;
}

/* loading screen */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;

  display: none;
}

.loading .background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.5;
}

/* home page starts */
.home {
}

/* search-cta section */
.home .search-cta {
  text-align: center;
  padding: 90px 10%;
}

.home .search-cta .header p {
  width: 70%;
  margin: 10px auto 30px;
}

.home .search-cta .image img {
  width: 80%;
  height: 70%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 60px;
}

/* post-cta section */
.home .post-cta {
  background-image: url("https://ucarecdn.com/580e84ab-2699-40a4-9090-c18d2cc0f597/brucemarsFWVMhUa_wbYunsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  margin: 80px 0;

  position: relative;
  color: #fff;
  text-align: center;
}

.home .post-cta .blur {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}

.home .post-cta .text {
  top: 55%;
}

.home .post-cta p {
  margin-bottom: 30px;
}

/* volunteer-cta section */
.home .volunteer-cta {
  margin: 160px 10% 100px;
}

.home .volunteer-cta .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .volunteer-cta img {
  width: 90%;
  height: 100%;
  min-width: 300px;
  min-height: 500px;
  object-fit: cover;
}

.home .volunteer-cta p {
  width: 90%;
}
/* home page ends */

/* volunteer page starts */
.volunteer {
  height: 70vh;
  width: 100vw;
  background-image: url("https://ucarecdn.com/1fa275cc-b107-4dac-8511-03a4002961aa/larmrmahAEaTUnvneikunsplash1.jpg");
  background-position: center;
  background-size: cover;

  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

.volunteer .content {
  color: #fff;
  position: absolute;
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.volunteer .content h1 {
  font-weight: bold;
  font-size: 50px;
}

.volunteer .content .input {
  width: 90vw;
  max-width: 400px;
  background-color: blue;
  margin: auto;
  position: relative;
  font-size: 18px;
}

.volunteer .content .input input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.volunteer .content .input button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
}
/* volunteer page ends */
